html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: red;
}

.left {
	width: 40%;
	background: #F44336;
}

.right {
	width: 40%;
	height: 100%;
	background-color: #f7f7f7;  
	position: relative;
}

nav {
	width: 20%;
	background: green;
}

/*container search field*/
.search-field {
    background-color: #D32F2F;
    width: 100%;
    height: 5em;
}

/*Search field + button*/ 
.flex-wrapper {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	width: 60%;
}

.flex-wrapper > div {
    flex: 1 1 auto; /*vult spac eop op basis van with en height die meegegeven zijn aan de elementen */
}

.input-todo {
	width: 127%;
	padding: 1.5em;
	font-size: 0.7em;
	letter-spacing: 1px;
	color: #aaaaaa;
	text-transform: uppercase;
	border: solid 1px #f3f3f3;
	background: #fff;
	margin-bottom: 10px;
	margin-top: 1em;
	border-radius: 6px 0 0 6px;
}

.button-add {
	transition: all, 0.25s, ease;
	width: 58px;
    height: 50px;
    padding: 1em;
    font-size: 0.7em;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    border: solid 1px #C62828;
    background: #C62828;
    margin-left: 7em;
    margin-top: 1em;
    border-radius: 0 6px 6px 0;
}


.content {
	position: relative;
	width: 80%;
	margin: auto;
}

/*buttons done and doing*/
.buttons-input  {
	float: right;
	top: -2.1em;
	width: 4em;
	height: 3em;
	position: relative;
	background: transparent;
	border: solid 1px transparent;
    cursor: pointer;
}

/*.todo-item-doing {
	background-color:rgba(0, 0, 0, 0.0980392);
}

.todo-item-done  {
	background-color: rgba(0, 0, 0, 0.2);
}*/

/*buttons remove*/
.button-remove  {
	float: right;
	top: -0.8em;
	width: 4em;
	height: 3em;
	position: relative;
	background: transparent;
	border: solid 1px transparent;
    cursor: pointer;
}

.remove-items {
	background-color:rgba(0, 0, 0, 0.0980392);
}




ul {
	list-style: none;
	padding-left: 7px;
}

.todo-item {
/*	padding: 1.5em;
	background-color: #f3f3f3;
	    margin-top: 1.2em;
	    margin-bottom: 1em;
	border-radius: 0.2em;
	font: 400 1em sans-serif;
	width: 80%;
	margin: 0 auto;
	list-style: none;*/

	padding: 1.5em;
	background-color: #fff;
	margin-bottom: 1em;
	border-radius: 0.2em;
	font: 400 1em sans-serif;
	width: 80%;
	list-style: none;
	position: relative;
	transform: translate(6%, 46%);
}

.doing {
	height: 50%;
/*	background-color: #ccd1d5;
*/}

.done {
	height: 50%;
/*	background-color: #ccd1d5;
*/	top: -2.3em;
	position: relative;
}

.doing.over, .done.over {
  border: 2px dashed #000;
}

.over {
  border: 2px dashed #000;
}

/*button cross*/
.cross{
	background:#fff;
}

#vertical{
	width: 5px;
    height: 30px;
    left: -24px;
    top: -14px;
    position: relative;
}

#horizontal{
	width: 30px;
	height: 5px;
	left: -37px;
	top: -42px;
	position: relative;
}

/*button done*/

.mark {
/*	background-color: #fff;
*/	height: 30px;
	width: 4px;
	display: block;
	top: 0;
	transition: all 300ms ease-in-out;
	position: relative;
}

#joe {
	right: 0px;
	left: -1.7em;
	transform: rotate(45deg);
	margin-top: -3.6em;
	background-color: #fff;
	border-radius: 0.2em;
}

#left {
	height: 22px;item-1
    margin-top: 5px;
    left: -36px;
    transform: rotate(-45deg);
    background-color: #fff;
    border-radius: 0.2em;
}


/*h1 doing and done*/
.title {
	width: 100%;
	height: 14%;
	top: 0.4em;
	position: relative;
}

.title-doing {
    background: #3993e2;
}

.title-done {
	background-color: #63e0ba;
}

h1 {
	font-size: 1.2em;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	left: 6em;
	top: 1em;
	position: relative;
}

h2 {
	font-size: 1.2em;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	top: 1em;
	position: relative;
}

h3 {
    font: 400 1em sans-serif;		
    top: 1em;
	position: relative;
}

/*button doing*/
.round {
	width: 15px;
    height: 15px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    left: -3em;
    position: relative;
    top: -0.5em;
}

.round-doing {
    background: #3993e2;
}

.round-done {
	background-color: #63e0ba;
}

.round-later {
	background-color: #fdd440;
}

/*animatie*/
li:first-child, .nav-li:not  {
	background-color: white;
	animation-name: pipo;
	-webkit-animation: pipo 0.5s ; /* Safari 4+ */
	  animation:       pipo 0.5s ; 
}


@keyframes pipo {
  0% {
    height: inherit;
 	padding: 0em 0.7em; 
 	opacity: 0;
  }
  100% {
    padding: 1.5em;
    height:inherit;
    opacity: 1;
  }
}
/*nav*/

header {
	position: absolute;
	left: 1em;
	border-bottom: 1px solid #CCC;
}
.nav-ul {
	margin-top: 7.2em;
	left: 2em;
	position: relative;
}

.nav-li {
	display: inline-block;
	width: 100%;
	min-height: 36px;
	height: 36px;
	float: left;

	line-height: 36px;
}

.nav-li:nth-child(1):before {
	content: '.';
	color: #fdd440;
	font-size: 100px;
	-moz-border-radius: 50px;
	left: -28px;
	display: block;
	position: absolute;
	top: -5px;
}

.nav-li:nth-child(2):before {
	content: '.';
	color: #3993e2;
	font-size: 100px;
	-moz-border-radius: 50px;
	left: -28px;
	display: block;
	position: absolute;
	top: 31px;
}

.nav-li:nth-child(3):before {
	content: '.';
	color: #63e0ba;
	font-size: 100px;
	-moz-border-radius: 50px;
	left: -28px;
	display: block;
	position: absolute;
	top: 67px;
}

/*
.buttons-input {
	display: none;
}
*/
