html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: red;
}

.left {
	width: 50%;
	background: #F44336;
	float:left;
}

.right {
	width: 50%;
	height: 100%;
	background-color: #f7f7f7;  
	position: relative;
}


/*container search field*/
.search-field {
    background-color: #D32F2F;
    width: 100%;
    height: 5em;
}

/*Search field + button*/ 
.flex-wrapper {
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	width: 60%;
}

.flex-wrapper > div {
    flex: 1 1 auto; /*vult spac eop op basis van with en height die meegegeven zijn aan de elementen */
}

/*input searchfield*/
.input-search {
	width: 127%;
	padding: 1.5em;
	font-size: 0.7em;
	letter-spacing: 1px;
	color: #aaaaaa;
	text-transform: uppercase;
	border: solid 1px #f3f3f3;
	background: #fff;
	margin-bottom: 10px;
	margin-top: 1em;
	border-radius: 6px 0 0 6px;
}

.button-add {
	transition: all, 0.25s, ease;
	width: 58px;
    height: 50px;
    padding: 1em;
    font-size: 0.7em;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    border: solid 1px #C62828;
    background: #C62828;
    margin-left: 7em;
    margin-top: 1em;
    border-radius: 0 6px 6px 0;
}

.button-add:hover {
	background-color: pink;
}

/*list items*/
.content {
	position: relative;
	width: 80%;
	margin: auto;
}

/*hier worden de li items gestyled*/
ul {
	list-style: none;
	padding-left: 7px;
}

.todo-item {
	padding: 1.5em;
	background-color: #fff;
	margin-bottom: 1em;
	border-radius: 0.2em;
	font: 400 1em sans-serif;
	width: 80%;
	list-style: none;
	position: relative;
	transform: translate(6%, 46%);
}


/*containers right*/
.container-doing {
	height: 50%;
}

.container-done {
	height: 50%;
	top: -2.3em;
	position: relative;
}

/*h1 doing and done*/
.title {
	width: 100%;
	height: 14%;
	top: 0.4em;
	position: relative;
}

.title-doing {
    background: #3993e2;
}

.title-done {
	background-color: #63e0ba;
}

h1 {
	font-size: 1.2em;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	left: 6em;
	top: 1em;
	position: relative;
}

h2 {
	font-size: 1.2em;
	font-family: Arial, sans-serif;
	text-transform: uppercase;
	top: 1em;
	position: relative;
}

h3 {
    font: 400 1em sans-serif;		
    top: 1em;
	position: relative;
	margin-left: 3em;
}

/*buttons + icons*/
.frame  {
	float: right;
    top: -2.8em;
    width: 4em;
    height: 3em;
    position: relative;
    border: solid 1px transparent;
    cursor: pointer;
    border-radius: 50%;
}

.round {
  	width: 15px;
    height: 15px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    left: 3em;
    position: relative;
    top: -0.5em;
}

.settings-bg-color {
   background-color:#3993e2; 
}

.arrow-bg-color {
   background-color:#fdd440; 
}

.plus-bg-color {
   background-color:green; 
}

.vink-bg-color {
   background-color:#63E0A9; 
}


.icon:before, .icon:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.icon {
	position: relative;
	width: 35px;
	height: 35px;
	margin: 4px;
	overflow: hidden;
}

.icontwee {
	position: relative;
	width: 35px;
	height: 35px;
	margin: 4px;
	    top: -1em;
	overflow: hidden;
}

 .icon.settings:before {
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    border-radius: 100%;
    border: 6px dotted #fff;
    box-sizing: border-box;
}

 .icon.settings:after {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    border-radius: 100%;
    box-shadow: inset 0 0 0 5px #fff;
}

/* arrow */
.icon.arrow:before {
    width: calc(100%/2.5);
    height: calc(100%/2.5);
    border-width: 3px;
    border-style: solid;
    border-color: #fff;
    transform: rotate(45deg);
    border-width: 3px 3px 0 0;
}

/* plus */
.icon.plus:before {
    width: calc(100%/2);
    height: 3px;
    background: #fff;
}

.icon.plus:after {
    width: 3px;
    height: calc(100%/2);
    background: #fff;
}


.icon.vink:before {
    width: calc(100%/2.5);
    height: calc(100%/2.8);
    border-width: 3px;
    border-style: solid;
    border-color: #fff;
    transform: rotate(137deg);
    border-width: 3px 3px 0 0;
}


/*button cross*/
.cross{
	background:#fff;
}

#vertical{
	width: 5px;
    height: 30px;
    left: -24px;
    top: -14px;
    position: relative;
}

#horizontal{
	width: 30px;
	height: 5px;
	left: -37px;
	top: -42px;
	position: relative;
}

/*button doing*/
.round {
	width: 15px;
    height: 15px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    left: -3em;
    position: relative;
    top: -0.5em;
}

.round-doing {
    background: #3993e2;
}

.round-done {
	background-color: #63e0ba;
}

.round-later {
	background-color: #fdd440;
}

/*animatie*/
li:first-child  {
	background-color: white;
	animation-name: pipo;
	-webkit-animation: pipo 0.5s ; /* Safari 4+ */
	  animation:       pipo 0.5s ; 
}

.nav-li:not {
	background-color: white;
}

@keyframes pipo {
  0% {
    height: inherit;
 	padding: 0em 0.7em; 
 	opacity: 0;
  }
  100% {
    padding: 1.5em;
    height:inherit;
    opacity: 1;
  }
}




/*nav*/
header {
	position: absolute;
	left: 1em;
	border-bottom: 1px solid #CCC;
}

 nav {
 	width: 100%;
 	max-width: 280px;
/* 	position: fixed;
*/ 	left: 0;
 	bottom: 0;
 	height: 100%;
/* 	height: calc(100% - 90px);
*/ 	background: #FFF;
 }

 header {
 	width: 280px;
 	min-height: 140px;
 	max-height: 140px;
 	overflow: hidden;
 	position: absolute;
 	background: transparent;
 	top: -140px;
 	border-bottom: 1px solid #CCC;
 }

h4 {
	font-family: arial;
	font-size: 1em;
	position: relative;
	font-size: 24px;
	/* line-height: 124px; */
	float: left;
	width: 100%;
	height: 16px;
	/* background: #fff; */
	margin-left: 2em;
}

h4 span:nth-child(1) {
	color: #fdd440;
}
h4 span:nth-child(2) {
	color: #3993e2;
}
h4 span:nth-child(3) {
	color: black;
}
h4 span:nth-child(4) {
	color: #63e0ba;
}
h4 span:nth-child(5) {
	color: #fdd440;
}
h4 span:nth-child(6) {
	color: #3993e2;
}

.nav-ul {
	float: left;
	/* width: calc(100% + 16px); */
	height: auto;
	font-size: 16px;
	padding: 0;
	margin: 0;
	/* position: relative; */
	left: -16px;
	width: 100%;
	border-top: 1px solid #ccc;
	overflow: hidden;
	background: #F7F7F7;
	height: 10em;
}

/*.nav-li {
	background-color: red;
	width: 100%;
	min-height: 36px;
	height: 49px;
	float: left;
	padding: 0px;
	margin: 0;
	line-height: 35px;
	background: #F7F7F7;
	display: block;
	left: 1em;
}*/

.nav-li:nth-child(1):before {
	content: '.';
	color: #fdd440;
	font-size: 100px;
	-moz-border-radius: 50px;
	display: block;
	position: absolute;
	    top: 20px;
    left: 10px;
}

.nav-li:nth-child(2):before {
	content: '.';
	color: #3993e2;
	font-size: 100px;
	-moz-border-radius: 50px;
	display: block;
	position: absolute;
	top: 55px;
    left: 10px;
}

.nav-li:nth-child(3):before {
	content: '.';
	color: #63e0ba;
	font-size: 100px;
	-moz-border-radius: 50px;
	display: block;
	position: absolute;
	top: 89px;
	left: 10px;
}

hr {
	border-bottom: 1px solid black;
}

 #closeNavNow:target {
	transform: translateX(-280px);
	overflow: hidden;

}

footer {
	margin: 0 auto;
	width: 41%;
	top: 1em;
	position: relative;
}




/*button done

/*.mark {
	height: 30px;
	width: 4px;
	display: block;
	top: 0;
	transition: all 300ms ease-in-out;
	position: relative;
}*/

/*#joe {
	right: 0px;
	left: -1.7em;
	transform: rotate(45deg);
	margin-top: -3.6em;
	background-color: #fff;
	border-radius: 0.2em;
}

#left {
	height: 22px;item-1
    margin-top: 5px;
    left: -36px;
    transform: rotate(-45deg);
    background-color: #fff;
    border-radius: 0.2em;
}*/














