/*default*/


* {
    padding: 0;
    margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
}


/*loader*/
#loading {
  position: fixed;
  width: 200px;
  height: 200px;
  left: calc(50% - 100px);
  top: calc(50% - 320px);
}

#loading img {
  width: 100%;
}

/*searchfield*/
form {
  z-index: 10;
  background-color: #e3bb88
}

fieldset {
  border: none;
  height: 3.8em;
}

.flex-wrapper {
    display: flex;
    flex-direction: row;
}

.flex-wrapper > div {
    flex: 1 1 auto; /*vult spac eop op basis van with en height die meegegeven zijn aan de elementen */
}

input {
    width: 200%;
    padding: 1em;
    font-size: 0.7em;
    letter-spacing: 1px;
    color: #aaaaaa;
    text-transform: uppercase;
    border: solid 1px #f3f3f3;
    background: #f3f3f3;
    margin-bottom: 10px;
}



legend {
  display: block;
  width: 100%;
  padding: 0.5em;
  text-align: left;

  background-color: #ECC8C5;
      color: #B83C37;
}

legend:before {
  content: "";
  display: block;
  background: url("../img/icon.png") no-repeat;
  width: 33px;
  height: 32px;
  float: left;
  transform: scale(0.7);
  margin: 0 6px 0 0;
  vertical-align: middle;
  margin-top: -0.4em;
}

button {
    width: 100%;
    padding: 1em;
    font-size: 0.7em;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
    border: solid 1px #8ba892;
    background: #8ba892;
}





/*section colors*/
#weather_morning {
  background-color: #e3bb88;
}

#weather_day {
  background-color: #4D4D4D;
}

#weather_evening {
  background-color: #b1695a;
}

#weather_night {
  background-color: #644749;
}

#weather_city {
  color: #8ba892;
}



/*app*/

main { 
  height: 597px;
  margin:0 auto;
}

section {
    height: calc(100% - 50px);
    width: 100%;
    overflow: hidden;
}

.weather {
  transition: all 0.7s ease-in-out;
  height: 16%;
  overflow: hidden;
}

.content {
  float: right;
  width: 10em;
  padding-right: 1em;
  padding-top: 1.1em;
}

.icon {
  z-index: -1;
  float: left;
  -webkit-transform: translateY(-136px); /*zorgt er voor dat alles gehide is*/
          transform: translateY(-136px);
  padding-left: 0.5em;
}


/*hover*/

.weather:hover, main section:not(:hover) .weather:nth-of-type(1), .weather:focus{
  height: 44%;
}


.weather, .icon, .data {
  transition: all 0.7s ease-in-out;
}

/*icons*/

.weather:hover .icon, .weather:focus .icon, main section:not(:hover) .weather:nth-of-type(1) .icon, main section:not(:focus) .weather:nth-of-type(1) .icon { /*alles behalven de eerste section + icon*/
  -webkit-transform: translateY(0px); /*begin waar je nu bent*/
          transform: translateY(0px);
          z-index: 1;
}

.weather:hover + .weather .icon, main section:not(:hover) .weather:nth-of-type(1) + .weather:focus .icon { 
  -webkit-transform: translateY(-400px);
          transform: translateY(-400px);
}

/*data*/
.data {
 -webkit-transform: translateY(136px); /*zorgt er voor dat alles gehide is*/
         transform: translateY(136px);
}

.weather:hover .data, .weather:focus .data, main section:not(:hover) .weather:nth-of-type(1) .data, main section:not(:focus) .weather:nth-of-type(1) .data {
  -webkit-transform: translateY(0px); /*begin waar je nu bent*/
          transform: translateY(0px);
          z-index: 1;
}


.weather:hover + .weather .data, main section:not(:hover) .weather:nth-of-type(1) + .weather:focus .data,
.weather:focus + .weather .data, main section:not(:focus) .weather:nth-of-type(1) + .weather:focus .data { 
  -webkit-transform: translateY(400px);
          transform: translateY(400px);
}

.hide {
  display: none;
}








